
    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>





    

      <!-- Jquery JS-->
      <script src="import2/vendor/jquery-3.2.1.min.js"></script>
      <!-- Bootstrap JS-->
      <script src="import2/vendor/bootstrap-4.1/popper.min.js"></script>
      <script src="import2/vendor/bootstrap-4.1/bootstrap.min.js"></script>
      <!-- Vendor JS       -->
      <script src="import2/vendor/slick/slick.min.js">
      </script>
      <script src="import2/vendor/wow/wow.min.js"></script>
      <script src="import2/vendor/animsition/animsition.min.js"></script>
      <script src="import2/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
      </script>
      <script src="import2/vendor/counter-up/jquery.waypoints.min.js"></script>
      <script src="import2/vendor/counter-up/jquery.counterup.min.js">
      </script>
      <script src="import2/vendor/circle-progress/circle-progress.min.js"></script>
      <script src="import2/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
      <script src="import2/vendor/chartjs/Chart.bundle.min.js"></script>
      <script src="import2/vendor/select2/select2.min.js">
      </script>
      <script src="import2/vendor/vector-map/jquery.vmap.js"></script>
      <script src="import2/vendor/vector-map/jquery.vmap.min.js"></script>
      <script src="import2/vendor/vector-map/jquery.vmap.sampledata.js"></script>
      <script src="import2/vendor/vector-map/jquery.vmap.world.js"></script>
  
      <!-- Main JS-->
      <script src="import2/js/main.js"></script>